@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 text-gray-900 font-sans p-4;
}

h1 {
    @apply text-3xl font-bold mb-4 dark:text-white;
}

h2 {
    @apply text-2xl font-semibold mb-3;
}

h3 {
    @apply text-xl font-medium mb-2;
}
@media (prefers-color-scheme: dark) {
    body {
        @apply bg-gray-900 text-gray-100;
    }

    h2 {
        @apply dark:text-gray-300;
    }

    h3 {
        @apply dark:text-gray-300;
    }

    a {
        @apply dark:text-blue-400 dark:hover:text-blue-600;
    }
}

a {
    @apply text-blue-600 hover:text-blue-800;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
